/* Global Typography and Colors */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #080225;
  color: #e6e6e9;
}

.page__main-inner {
  background-color: #080225;
}

.page__main,
.page__main h1,
.page__main h2,
.page__main h3,
.page__main h4,
.page__main h5,
.page__main h6 {
  color: #e6e6e9;
}

.header,
.footer {
  background: #010101;
}

a,
a:link,
a:visited {
  color: #7336f7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo-wrapper svg {
  width: 200px;
  height: auto;
}
